version: '3.8'

services:
  opsly-api:
    build:
      context: ..
      dockerfile: deployment/Dockerfile
    ports:
      - "5000:80"
      - "5001:443"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    volumes:
      - ../logs:/app/logs
    restart: unless-stopped
